@mixin display($prefix) {
  $values: block inline-block inline flex inline-flex table table-row table-cell;

  @each $value in $values {
    .#{$prefix}#{$value} {
      display: $value;
    }
  }

  .#{$prefix}hidden {
    display: none;
  }
}
