@import 'true';
@import './overflow';

@include describe('The overflow mixin') {
  $prefix: '';

  @include it('should output overflow stylesheet correctly') {
    @include assert {
      @include output {
        @include overflow($prefix);
      }
      @include expect {
        .overflow-auto {
          overflow: auto;
        }
        .overflow-x-auto {
          overflow-x: auto;
        }
        .overflow-y-auto {
          overflow-y: auto;
        }
        .overflow-hidden {
          overflow: hidden;
        }
        .overflow-x-hidden {
          overflow-x: hidden;
        }
        .overflow-y-hidden {
          overflow-y: hidden;
        }
        .overflow-visible {
          overflow: visible;
        }
        .overflow-x-visible {
          overflow-x: visible;
        }
        .overflow-y-visible {
          overflow-y: visible;
        }
        .overflow-scroll {
          overflow: scroll;
        }
        .overflow-x-scroll {
          overflow-x: scroll;
        }
        .overflow-y-scroll {
          overflow-y: scroll;
        }
      }
    }
  }
}
