@import 'true';
@import './align';

@include describe('The align-items mixin') {
  $prefix: '';
  $theme-align-items: (
    stretch: stretch,
    start: flex-start,
    center: center,
    end: flex-end,
    baseline: baseline,
  );

  @include it('should output align-items stylesheet correctly') {
    @include assert {
      @include output {
        @include align-items($prefix, $theme-align-items);
      }
      @include expect {
        .items-stretch {
          align-items: stretch;
        }
        .items-start {
          align-items: flex-start;
        }
        .items-center {
          align-items: center;
        }
        .items-end {
          align-items: flex-end;
        }
        .items-baseline {
          align-items: baseline;
        }
      }
    }
  }
}

@include describe('The align-content mixin') {
  $prefix: '';
  $theme-align-content: (
    start: flex-start,
    center: center,
    end: flex-end,
    between: space-between,
    around: space-around,
  );

  @include it('should output align-content stylesheet correctly') {
    @include assert {
      @include output {
        @include align-content($prefix, $theme-align-content);
      }
      @include expect {
        .content-start {
          align-content: flex-start;
        }
        .content-center {
          align-content: center;
        }
        .content-end {
          align-content: flex-end;
        }
        .content-between {
          align-content: space-between;
        }
        .content-around {
          align-content: space-around;
        }
      }
    }
  }
}

@include describe('The align-self mixin') {
  $prefix: '';
  $theme-align-self: (
    auto: auto,
    start: flex-start,
    center: center,
    end: flex-end,
    stretch: stretch,
  ) !default;

  @include it('should output align-self stylesheet correctly') {
    @include assert {
      @include output {
        @include align-self($prefix, $theme-align-self);
      }
      @include expect {
        .self-auto {
          align-self: auto;
        }
        .self-start {
          align-self: flex-start;
        }
        .self-center {
          align-self: center;
        }
        .self-end {
          align-self: flex-end;
        }
        .self-stretch {
          align-self: stretch;
        }
      }
    }
  }
}
