@import "../helper";

@mixin align-items($prefix) {
  $map-values: (
    stretch: stretch,
    start: flex-start,
    center: center,
    end: flex-end,
    baseline: baseline,
  );
  $map-props: (
    default: align-items,
  );
  @include style($prefix, items, $map-values, $map-props);
}

@mixin align-content($prefix) {
  $map-values: (
    start: flex-start,
    center: center,
    end: flex-end,
    between: space-between,
    around: space-around,
  );

  $map-props: (
    default: align-content,
  );
  @include style($prefix, content, $map-values, $map-props);
}

@mixin align-self($prefix) {
  $map-values: (
    auto: auto,
    start: flex-start,
    center: center,
    end: flex-end,
    stretch: stretch,
  );

  $map-props: (
    default: align-self,
  );
  @include style($prefix, self, $map-values, $map-props);
}
