@import "../helper";

@mixin background-attachment($prefix) {
  $map-values: (
    fixed: fixed,
    local: local,
    scroll: scroll,
  );
  $map-props: (
    default: background-attachment,
  );

  @include style($prefix, bg, $map-values, $map-props);
}

@mixin background-position($prefix, $map-values) {
  $map-props: (
    default: background-position,
  );

  @include style($prefix, bg, $map-values, $map-props);
}

@mixin background-repeat($prefix) {
  $map-values: (
    repeat: repeat,
    no-repeat: no-repeat,
    repeat-x: repeat-x,
    repeat-y: repeat-y,
    repeat-round: round,
    space: space,
  );
  $map-props: (
    default: background-repeat,
  );

  @include style($prefix, bg, $map-values, $map-props);
}

@mixin background-size($prefix, $map-values) {
  $map-props: (
    default: background-size,
  );

  @include style($prefix, bg, $map-values, $map-props);
}

@mixin background-color($prefix, $colors, $variants: (), $separator: '_', $screens: ()) {
  $map-props: (
    default: background-color,
  );
  @include style-color($prefix, bg, $colors, $map-props, $screens, $variants, $separator);
}
