@import 'true';
@import './background';

@include describe('The background-attachment mixin') {
  $prefix: '';

  @include it('should output background-attachment stylesheet correctly') {
    @include assert {
      @include output {
        @include background-attachment($prefix);
      }
      @include expect {
        .bg-fixed {
          background-attachment: fixed;
        }
        .bg-local {
          background-attachment: local;
        }
        .bg-scroll {
          background-attachment: scroll;
        }
      }
    }
  }
}

@include describe('The background-position mixin') {
  $prefix: '';
  $theme-background-position: (
    bottom: bottom,
    center: center,
    left: left,
    left-bottom: left-bottom,
    left-top: left-top,
    right: right,
    right-bottom: right-bottom,
    right-top: right-top,
    top: top,
  );

  @include it('should output background-position stylesheet correctly') {
    @include assert {
      @include output {
        @include background-position($prefix, $theme-background-position);
      }
      @include expect {
        .bg-bottom {
          background-position: bottom;
        }
        .bg-center {
          background-position: center;
        }
        .bg-left {
          background-position: left;
        }
        .bg-left-bottom {
          background-position: left-bottom;
        }
        .bg-left-top {
          background-position: left-top;
        }
        .bg-right {
          background-position: right;
        }
        .bg-right-bottom {
          background-position: right-bottom;
        }
        .bg-right-top {
          background-position: right-top;
        }
        .bg-top {
          background-position: top;
        }
      }
    }
  }
}

@include describe('The background-repeat mixin') {
  $prefix: '';

  @include it('should output background-repeat stylesheet correctly') {
    @include assert {
      @include output {
        @include background-repeat($prefix);
      }
      @include expect {
        .bg-repeat {
          background-repeat: repeat;
        }
        .bg-no-repeat {
          background-repeat: no-repeat;
        }
        .bg-repeat-x {
          background-repeat: repeat-x;
        }
        .bg-repeat-y {
          background-repeat: repeat-y;
        }
        .bg-repeat-round {
          background-repeat: round;
        }
        .bg-space {
          background-repeat: space;
        }
      }
    }
  }
}

@include describe('The background-size mixin') {
  $prefix: '';
  $theme-background-size: (
    auto: auto,
    cover: cover,
    contain: contain,
  );

  @include it('should output background-size stylesheet correctly') {
    @include assert {
      @include output {
        @include background-size($prefix, $theme-background-size);
      }
      @include expect {
        .bg-auto {
          background-size: auto;
        }
        .bg-cover {
          background-size: cover;
        }
        .bg-contain {
          background-size: contain;
        }
      }
    }
  }
}

@include describe('The background-color mixin') {
  $colors: (
    transparent: transparent,
    gray: (
      100: #f7fafc,
      200: #edf2f7,
    ),
  );
  $theme-screens: (
    sm: 640px,
    md: 768px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $prefix: '';

  @include it('should output background-color stylesheet correctly') {
    @include assert {
      @include output {
        @include background-color($prefix, $colors, $variants, $separator, $theme-screens);
      }
      @include expect {
        .bg-transparent {
          background-color: transparent;
        }
        @media (min-width: 640px) {
          .sm_bg-transparent {
            background-color: transparent;
          }
          .sm_hover_bg-transparent:hover {
            background-color: transparent;
          }
          .sm_hover_bg-transparent:focus {
            background-color: transparent;
          }
        }
        @media (min-width: 768px) {
          .md_bg-transparent {
            background-color: transparent;
          }
          .md_hover_bg-transparent:hover {
            background-color: transparent;
          }
          .md_hover_bg-transparent:focus {
            background-color: transparent;
          }
        }
        .hover_bg-transparent:hover {
          background-color: transparent;
        }
        .focus_bg-transparent:focus {
          background-color: transparent;
        }
        .bg-gray-100 {
          background-color: #f7fafc;
        }
        @media (min-width: 640px) {
          .sm_bg-gray-100 {
            background-color: #f7fafc;
          }
          .sm_hover_bg-gray-100:hover {
            background-color: #f7fafc;
          }
          .sm_hover_bg-gray-100:focus {
            background-color: #f7fafc;
          }
        }
        @media (min-width: 768px) {
          .md_bg-gray-100 {
            background-color: #f7fafc;
          }
          .md_hover_bg-gray-100:hover {
            background-color: #f7fafc;
          }
          .md_hover_bg-gray-100:focus {
            background-color: #f7fafc;
          }
        }
        .hover_bg-gray-100:hover {
          background-color: #f7fafc;
        }
        .focus_bg-gray-100:focus {
          background-color: #f7fafc;
        }
        .bg-gray-200 {
          background-color: #edf2f7;
        }
        @media (min-width: 640px) {
          .sm_bg-gray-200 {
            background-color: #edf2f7;
          }
          .sm_hover_bg-gray-200:hover {
            background-color: #edf2f7;
          }
          .sm_hover_bg-gray-200:focus {
            background-color: #edf2f7;
          }
        }
        @media (min-width: 768px) {
          .md_bg-gray-200 {
            background-color: #edf2f7;
          }
          .md_hover_bg-gray-200:hover {
            background-color: #edf2f7;
          }
          .md_hover_bg-gray-200:focus {
            background-color: #edf2f7;
          }
        }
        .hover_bg-gray-200:hover {
          background-color: #edf2f7;
        }
        .focus_bg-gray-200:focus {
          background-color: #edf2f7;
        }
      }
    }
  }
}
