@import 'true';
@import './color';

@include describe('The color mixin') {
  $colors: (
    transparent: transparent,
    gray: (
      100: #f7fafc,
      200: #edf2f7,
    ),
  );
  $prefix: '';

  @include it('should output color stylesheet correctly') {
    @include assert {
      @include output {
        @include color($prefix, $colors);
      }
      @include expect {
        .text-transparent {
          color: transparent;
        }
        .text-gray-100 {
          color: #f7fafc;
        }
        .text-gray-200 {
          color: #edf2f7;
        }
      }
    }
  }
}

@include describe('The background-color mixin') {
  $colors: (
    transparent: transparent,
    gray: (
      100: #f7fafc,
      200: #edf2f7,
    ),
  );
  $prefix: '';

  @include it('should output background-color stylesheet correctly') {
    @include assert {
      @include output {
        @include background-color($prefix, $colors);
      }
      @include expect {
        .bg-transparent {
          background-color: transparent;
        }
        .bg-gray-100 {
          background-color: #f7fafc;
        }
        .bg-gray-200 {
          background-color: #edf2f7;
        }
      }
    }
  }
}

@include describe('The border-color mixin') {
  $colors: (
    transparent: transparent,
    gray: (
      100: #f7fafc,
      200: #edf2f7,
    ),
  );
  $prefix: '';

  @include it('should output border-color stylesheet correctly') {
    @include assert {
      @include output {
        @include border-color($prefix, $colors);
      }
      @include expect {
        .border-transparent {
          border-color: transparent;
        }
        .border-gray-100 {
          border-color: #f7fafc;
        }
        .border-gray-200 {
          border-color: #edf2f7;
        }
      }
    }
  }
}
