@import 'true';
@import './display';

@include describe('The display mixin') {
  $theme-display: (
    block: block,
    hidden: none,
  );
  $prefix: '';

  @include it('should output stylesheet correctly') {
    @include assert {
      @include output {
        @include display($prefix, $theme-display);
      }
      @include expect {
        .block {
          display: block;
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
