@import 'true';
@import './display';

@include describe('The display mixin') {
  $screens: (
    sm: 640px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $prefix: '';

  @include it('should output stylesheet correctly') {
    @include assert {
      @include output {
        @include display($prefix, $variants, $separator, $screens);
      }
      @include expect {
        .block {
          display: block;
        }
        @media (min-width: 640px) {
          .sm_block {
            display: block;
          }
          .sm_hover_block:hover {
            display: block;
          }
          .sm_focus_block:focus {
            display: block;
          }
        }
        .hover_block:hover {
          display: block;
        }
        .focus_block:focus {
          display: block;
        }
        .inline-block {
          display: inline-block;
        }
        @media (min-width: 640px) {
          .sm_inline-block {
            display: inline-block;
          }
          .sm_hover_inline-block:hover {
            display: inline-block;
          }
          .sm_focus_inline-block:focus {
            display: inline-block;
          }
        }
        .hover_inline-block:hover {
          display: inline-block;
        }
        .focus_inline-block:focus {
          display: inline-block;
        }
        .inline {
          display: inline;
        }
        @media (min-width: 640px) {
          .sm_inline {
            display: inline;
          }
          .sm_hover_inline:hover {
            display: inline;
          }
          .sm_focus_inline:focus {
            display: inline;
          }
        }
        .hover_inline:hover {
          display: inline;
        }
        .focus_inline:focus {
          display: inline;
        }
        .flex {
          display: flex;
        }
        @media (min-width: 640px) {
          .sm_flex {
            display: flex;
          }
          .sm_hover_flex:hover {
            display: flex;
          }
          .sm_focus_flex:focus {
            display: flex;
          }
        }
        .hover_flex:hover {
          display: flex;
        }
        .focus_flex:focus {
          display: flex;
        }
        .inline-flex {
          display: inline-flex;
        }
        @media (min-width: 640px) {
          .sm_inline-flex {
            display: inline-flex;
          }
          .sm_hover_inline-flex:hover {
            display: inline-flex;
          }
          .sm_focus_inline-flex:focus {
            display: inline-flex;
          }
        }
        .hover_inline-flex:hover {
          display: inline-flex;
        }
        .focus_inline-flex:focus {
          display: inline-flex;
        }
        .table {
          display: table;
        }
        @media (min-width: 640px) {
          .sm_table {
            display: table;
          }
          .sm_hover_table:hover {
            display: table;
          }
          .sm_focus_table:focus {
            display: table;
          }
        }
        .hover_table:hover {
          display: table;
        }
        .focus_table:focus {
          display: table;
        }
        .table-row {
          display: table-row;
        }
        @media (min-width: 640px) {
          .sm_table-row {
            display: table-row;
          }
          .sm_hover_table-row:hover {
            display: table-row;
          }
          .sm_focus_table-row:focus {
            display: table-row;
          }
        }
        .hover_table-row:hover {
          display: table-row;
        }
        .focus_table-row:focus {
          display: table-row;
        }
        .table-cell {
          display: table-cell;
        }
        @media (min-width: 640px) {
          .sm_table-cell {
            display: table-cell;
          }
          .sm_hover_table-cell:hover {
            display: table-cell;
          }
          .sm_focus_table-cell:focus {
            display: table-cell;
          }
        }
        .hover_table-cell:hover {
          display: table-cell;
        }
        .focus_table-cell:focus {
          display: table-cell;
        }
        .hidden {
          display: none;
        }
        @media (min-width: 640px) {
          .sm_hidden {
            display: none;
          }
          .sm_hover_hidden:hover {
            display: none;
          }
          .sm_focus_hidden:focus {
            display: none;
          }
        }
        .hover_hidden:hover {
          display: none;
        }
        .focus_hidden:focus {
          display: none;
        }
      }
    }
  }
}
