@import "../helper";

@mixin flex($prefix, $map-values) {
  $map-props: (
    default: flex,
  );
  @include style($prefix, flex, $map-values, $map-props);
}

@mixin flex-direction($prefix, $map-values) {
  $map-props: (
    default: flex-direction,
  );
  @include style($prefix, flex, $map-values, $map-props);
}

@mixin flex-wrap($prefix, $map-values) {
  $map-props: (
    default: flex-wrap,
  );
  @include style($prefix, flex, $map-values, $map-props);
}

@mixin flex-grow($prefix, $map-values) {
  $map-props: (
    default: flex-grow,
  );
  @include style($prefix, flex-grow, $map-values, $map-props);
}

@mixin flex-shrink($prefix, $map-values) {
  $map-props: (
    default: flex-shrink,
  );
  @include style($prefix, flex-shrink, $map-values, $map-props);
}
