@import '../helper';

@mixin float($prefix) {
  $map-values: (
    right: right,
    left: left,
    none: none,
  );
  $map-props: (
    default: float,
  );

  @include style($prefix, float, $map-values, $map-props);

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}
