@import '../helper';

@mixin float($prefix, $variants: (), $separator: '_', $screens: ()) {
  $map-values: (
    right: right,
    left: left,
    none: none,
  );
  $map-props: (
    default: float,
  );

  @include style($prefix, float, $map-values, $map-props, $screens, $variants, $separator);
  @include raw-style($prefix, clearfix, $screens, $variants, $separator, '::after') {
    content: "";
    display: table;
    clear: both;
  }
}
