@import 'true';
@import './float';

@include describe('The float mixin') {
  $screens: (
    sm: 640px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $prefix: '';

  @include it('should output float stylesheet correctly') {
    @include assert {
      @include output {
        @include float($prefix, $variants, $separator, $screens);
      }

      @include expect {
        .float-right {
          float: right;
        }
        @media (min-width: 640px) {
          .sm_float-right {
            float: right;
          }
          .sm_hover_float-right:hover {
            float: right;
          }
          .sm_focus_float-right:focus {
            float: right;
          }
        }
        .hover_float-right:hover {
          float: right;
        }
        .focus_float-right:focus {
          float: right;
        }
        .float-left {
          float: left;
        }
        @media (min-width: 640px) {
          .sm_float-left {
            float: left;
          }
          .sm_hover_float-left:hover {
            float: left;
          }
          .sm_focus_float-left:focus {
            float: left;
          }
        }
        .hover_float-left:hover {
          float: left;
        }
        .focus_float-left:focus {
          float: left;
        }
        .float-none {
          float: none;
        }
        @media (min-width: 640px) {
          .sm_float-none {
            float: none;
          }
          .sm_hover_float-none:hover {
            float: none;
          }
          .sm_focus_float-none:focus {
            float: none;
          }
        }
        .hover_float-none:hover {
          float: none;
        }
        .focus_float-none:focus {
          float: none;
        }
        .clearfix::after {
          content: "";
          display: table;
          clear: both;
        }
        @media (min-width: 640px) {
          .sm_clearfix::after {
            content: "";
            display: table;
            clear: both;
          }
          .sm_hover_clearfix:hover::after {
            content: "";
            display: table;
            clear: both;
          }
          .sm_focus_clearfix:focus::after {
            content: "";
            display: table;
            clear: both;
          }
        }
        .hover_clearfix:hover::after {
          content: "";
          display: table;
          clear: both;
        }
        .focus_clearfix:focus::after {
          content: "";
          display: table;
          clear: both;
        }
      }
    }
  }
}
