@mixin float($prefix) {
  $values: right left none;

  @each $value in $values {
    .#{$prefix}float-#{$value} {
      float: $value;
    }
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}
