@import "../helper";

@mixin font-family($prefix, $map-values) {
  $map-props: (
    default: font-family,
  );
  @include style($prefix, font, $map-values, $map-props);
}

@mixin font-size($prefix, $map-values) {
  $map-props: (
    default: font-size,
  );
  @include style($prefix, text, $map-values, $map-props);
}

@mixin font-smoothing($prefix, $variants: (), $separator: '_', $screens: ()) {
  @include raw-style($prefix, antialiased, $screens, $variants, $separator) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @include raw-style($prefix, subpixel-antialiased, $screens, $variants, $separator) {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin font-style($prefix) {
  .#{$prefix}italic {
    font-style: italic;
  }
  .#{$prefix}not-italic {
    font-style: normal;
  }
}

@mixin font-weight($prefix, $map-values) {
  $map-props: (
    default: font-weight,
  );
  @include style($prefix, font, $map-values, $map-props);
}
