@import '../helper';

@mixin height($prefix, $map-values) {
  $map-props: (
    default: height,
  );

  @include style($prefix, h, $map-values, $map-props);
}

@mixin min-height($prefix, $map-values) {
  $map-props: (
    default: min-height,
  );

  @include style($prefix, min-h, $map-values, $map-props);
}

@mixin max-height($prefix, $map-values) {
  $map-props: (
    default: max-height,
  );

  @include style($prefix, max-h, $map-values, $map-props);
}
