@import 'true';
@import './height';

@include describe('The height mixin') {
  $screens: (
    sm: 640px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $theme-height: (
    0: 0,
    screen: 100vh,
    1_2: 8.33333%,
  );
  $prefix: '';

  @include it('should output height stylesheet correctly') {
    @include assert {
      @include output {
        @include height($prefix, $theme-height, $variants, $separator, $screens);
      }

      @include expect {
        .h-0 {
          height: 0;
        }
        @media (min-width: 640px) {
          .sm_h-0 {
            height: 0;
          }
          .sm_hover_h-0:hover {
            height: 0;
          }
          .sm_focus_h-0:focus {
            height: 0;
          }
        }
        .hover_h-0:hover {
          height: 0;
        }
        .focus_h-0:focus {
          height: 0;
        }
        .h-screen {
          height: 100vh;
        }
        @media (min-width: 640px) {
          .sm_h-screen {
            height: 100vh;
          }
          .sm_hover_h-screen:hover {
            height: 100vh;
          }
          .sm_focus_h-screen:focus {
            height: 100vh;
          }
        }
        .hover_h-screen:hover {
          height: 100vh;
        }
        .focus_h-screen:focus {
          height: 100vh;
        }
        .h-1_2 {
          height: 8.33333%;
        }
        @media (min-width: 640px) {
          .sm_h-1_2 {
            height: 8.33333%;
          }
          .sm_hover_h-1_2:hover {
            height: 8.33333%;
          }
          .sm_focus_h-1_2:focus {
            height: 8.33333%;
          }
        }
        .hover_h-1_2:hover {
          height: 8.33333%;
        }
        .focus_h-1_2:focus {
          height: 8.33333%;
        }
      }
    }
  }
}

@include describe('The min-height mixin') {
  $screens: (
    sm: 640px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $theme-min-height: (
    full: 100%,
    screen: 100vh,
  );
  $prefix: '';

  @include it('should output min-height stylesheet correctly') {
    @include assert {
      @include output {
        @include min-height($prefix, $theme-min-height, $variants, $separator, $screens);
      }

      @include expect {
        .min-h-full {
          min-height: 100%;
        }
        @media (min-width: 640px) {
          .sm_min-h-full {
            min-height: 100%;
          }
          .sm_hover_min-h-full:hover {
            min-height: 100%;
          }
          .sm_focus_min-h-full:focus {
            min-height: 100%;
          }
        }
        .hover_min-h-full:hover {
          min-height: 100%;
        }
        .focus_min-h-full:focus {
          min-height: 100%;
        }
        .min-h-screen {
          min-height: 100vh;
        }
        @media (min-width: 640px) {
          .sm_min-h-screen {
            min-height: 100vh;
          }
          .sm_hover_min-h-screen:hover {
            min-height: 100vh;
          }
          .sm_focus_min-h-screen:focus {
            min-height: 100vh;
          }
        }
        .hover_min-h-screen:hover {
          min-height: 100vh;
        }
        .focus_min-h-screen:focus {
          min-height: 100vh;
        }
      }
    }
  }
}

@include describe('The max-height mixin') {
  $screens: (
    sm: 640px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $theme-max-height: (
    full: 100%,
    screen: 100vh,
  );
  $prefix: '';

  @include it('should output max-height stylesheet correctly') {
    @include assert {
      @include output {
        @include max-height($prefix, $theme-max-height, $variants, $separator, $screens);
      }

      @include expect {
        .max-h-full {
          max-height: 100%;
        }
        @media (min-width: 640px) {
          .sm_max-h-full {
            max-height: 100%;
          }
          .sm_hover_max-h-full:hover {
            max-height: 100%;
          }
          .sm_focus_max-h-full:focus {
            max-height: 100%;
          }
        }
        .hover_max-h-full:hover {
          max-height: 100%;
        }
        .focus_max-h-full:focus {
          max-height: 100%;
        }
        .max-h-screen {
          max-height: 100vh;
        }
        @media (min-width: 640px) {
          .sm_max-h-screen {
            max-height: 100vh;
          }
          .sm_hover_max-h-screen:hover {
            max-height: 100vh;
          }
          .sm_focus_max-h-screen:focus {
            max-height: 100vh;
          }
        }
        .hover_max-h-screen:hover {
          max-height: 100vh;
        }
        .focus_max-h-screen:focus {
          max-height: 100vh;
        }
      }
    }
  }
}
