@import 'true';
@import './justify-content';

@include describe('The justify-content mixin') {
  $screens: (
    sm: 640px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $prefix: '';

  @include it('should output justify-content stylesheet correctly') {
    @include assert {
      @include output {
        @include justify-content($prefix, $variants, $separator, $screens);
      }
      @include expect {
        .justify-start {
          justify-content: flex-start;
        }
        @media (min-width: 640px) {
          .sm_justify-start {
            justify-content: flex-start;
          }
          .sm_hover_justify-start:hover {
            justify-content: flex-start;
          }
          .sm_focus_justify-start:focus {
            justify-content: flex-start;
          }
        }
        .hover_justify-start:hover {
          justify-content: flex-start;
        }
        .focus_justify-start:focus {
          justify-content: flex-start;
        }
        .justify-center {
          justify-content: center;
        }
        @media (min-width: 640px) {
          .sm_justify-center {
            justify-content: center;
          }
          .sm_hover_justify-center:hover {
            justify-content: center;
          }
          .sm_focus_justify-center:focus {
            justify-content: center;
          }
        }
        .hover_justify-center:hover {
          justify-content: center;
        }
        .focus_justify-center:focus {
          justify-content: center;
        }
        .justify-end {
          justify-content: flex-end;
        }
        @media (min-width: 640px) {
          .sm_justify-end {
            justify-content: flex-end;
          }
          .sm_hover_justify-end:hover {
            justify-content: flex-end;
          }
          .sm_focus_justify-end:focus {
            justify-content: flex-end;
          }
        }
        .hover_justify-end:hover {
          justify-content: flex-end;
        }
        .focus_justify-end:focus {
          justify-content: flex-end;
        }
        .justify-between {
          justify-content: space-between;
        }
        @media (min-width: 640px) {
          .sm_justify-between {
            justify-content: space-between;
          }
          .sm_hover_justify-between:hover {
            justify-content: space-between;
          }
          .sm_focus_justify-between:focus {
            justify-content: space-between;
          }
        }
        .hover_justify-between:hover {
          justify-content: space-between;
        }
        .focus_justify-between:focus {
          justify-content: space-between;
        }
        .justify-around {
          justify-content: space-around;
        }
        @media (min-width: 640px) {
          .sm_justify-around {
            justify-content: space-around;
          }
          .sm_hover_justify-around:hover {
            justify-content: space-around;
          }
          .sm_focus_justify-around:focus {
            justify-content: space-around;
          }
        }
        .hover_justify-around:hover {
          justify-content: space-around;
        }
        .focus_justify-around:focus {
          justify-content: space-around;
        }
      }
    }
  }
}
