$theme-letter-spacing: (
  tighter: -0.05em,
  tight: -0.025em,
  normal: 0,
  wide: 0.025em,
  wider: 0.05em,
  widest: 0.1em,
) !default;

@mixin letter-spacing($prefix, $maps: $theme-font-size) {
  @each $unit, $value in $maps {
    .#{$prefix}tracking-#{$unit} {
      letter-spacing: $value;
    }
  }
}
