@import 'true';
@import './line-height';

@include describe('The line-height mixin') {
  $theme-line-height: (
    snug: 1.375,
    normal: 1.5,
    relaxed: 1.625,
  );
  $screens: (
    sm: 640px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $prefix: '';

  @include it('should output line-height stylesheet correctly') {
    @include assert {
      @include output {
        @include line-height($prefix, $theme-line-height, $variants, $separator, $screens);
      }
      @include expect {
        .leading-snug {
          line-height: 1.375;
        }
        @media (min-width: 640px) {
          .sm_leading-snug {
            line-height: 1.375;
          }
          .sm_hover_leading-snug:hover {
            line-height: 1.375;
          }
          .sm_focus_leading-snug:focus {
            line-height: 1.375;
          }
        }
        .hover_leading-snug:hover {
          line-height: 1.375;
        }
        .focus_leading-snug:focus {
          line-height: 1.375;
        }
        .leading-normal {
          line-height: 1.5;
        }
        @media (min-width: 640px) {
          .sm_leading-normal {
            line-height: 1.5;
          }
          .sm_hover_leading-normal:hover {
            line-height: 1.5;
          }
          .sm_focus_leading-normal:focus {
            line-height: 1.5;
          }
        }
        .hover_leading-normal:hover {
          line-height: 1.5;
        }
        .focus_leading-normal:focus {
          line-height: 1.5;
        }
        .leading-relaxed {
          line-height: 1.625;
        }
        @media (min-width: 640px) {
          .sm_leading-relaxed {
            line-height: 1.625;
          }
          .sm_hover_leading-relaxed:hover {
            line-height: 1.625;
          }
          .sm_focus_leading-relaxed:focus {
            line-height: 1.625;
          }
        }
        .hover_leading-relaxed:hover {
          line-height: 1.625;
        }
        .focus_leading-relaxed:focus {
          line-height: 1.625;
        }

      }
    }
  }
}
