@import "../helper";

@mixin list-style-type($prefix, $map-values, $variants: (), $separator: '_', $screens: ()) {
  $map-props: (
    default: list-style-type,
  );
  @include style($prefix, list, $map-values, $map-props, $screens, $variants, $separator);
}

@mixin list-style-position($prefix, $variants: (), $separator: '_', $screens: ()) {
  $map-values: (
    inside: inside,
    outside: outside,
  );
  $map-props: (
    default: list-style-position,
  );

  @include style($prefix, list, $map-values, $map-props, $screens, $variants, $separator);
}
