@import "../helper";

@mixin list-style-type($prefix, $map-values) {
  $map-props: (
    default: list-style-type,
  );
  @include style($prefix, list, $map-values, $map-props);
}

@mixin list-style-position($prefix) {
  $map-values: (
    inside: inside,
    outside: outside,
  );
  $map-props: (
    default: list-style-position,
  );

  @include style($prefix, list, $map-values, $map-props);
}
