@import 'true';
@import './list-style';

@include describe('The list-style-type mixin') {
  $theme-list-style-type: (
    none: none,
    disc: disc,
    decimal: decimal,
  );
  $prefix: '';

  @include it('should output list-style-type stylesheet correctly') {
    @include assert {
      @include output {
        @include list-style-type($prefix, $theme-list-style-type);
      }

      @include expect {
        .list-none {
          list-style-type: none;
        }
        .list-disc {
          list-style-type: disc;
        }
        .list-decimal {
          list-style-type: decimal;
        }
      }
    }
  }
}

@include describe('The list-style-position mixin') {
  $prefix: '';

  @include it('should output list-style-position stylesheet correctly') {
    @include assert {
      @include output {
        @include list-style-position($prefix);
      }

      @include expect {
        .list-inside {
          list-style-position: inside;
        }
        .list-outside {
          list-style-position: outside;
        }
      }
    }
  }
}
