@import "../helper";

@mixin object-fit($prefix) {
  $object-fit-props: (
    object-contain: contain,
    object-cover: cover,
    object-fill: fill,
    object-none: none,
    object-scale-down: scale-down,
  );

  @each $name, $value in $object-fit-props {
    .#{$prefix}#{$name} {
      object-fit: $value;
    }
  }
}

@mixin object-position($prefix, $map-values) {
  $map-props: (
    default: object-position,
  );

  @include style($prefix, object, $map-values, $map-props);
}
