@import 'true';
@import './opacity';

@include describe('The opacity mixin') {
  $theme-opacity: (
    0: 0,
    25: 0.25,
  );
  $screens: (
    sm: 640px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $prefix: '';

  @include it('should output opacity stylesheet correctly') {
    @include assert {
      @include output {
        @include opacity($prefix, $theme-opacity, $variants, $separator, $screens);
      }

      @include expect {
        .opacity-0 {
          opacity: 0;
        }
        @media (min-width: 640px) {
          .sm_opacity-0 {
            opacity: 0;
          }
          .sm_hover_opacity-0:hover {
            opacity: 0;
          }
          .sm_focus_opacity-0:focus {
            opacity: 0;
          }
        }
        .hover_opacity-0:hover {
          opacity: 0;
        }
        .focus_opacity-0:focus {
          opacity: 0;
        }
        .opacity-25 {
          opacity: 0.25;
        }
        @media (min-width: 640px) {
          .sm_opacity-25 {
            opacity: 0.25;
          }
          .sm_hover_opacity-25:hover {
            opacity: 0.25;
          }
          .sm_focus_opacity-25:focus {
            opacity: 0.25;
          }
        }
        .hover_opacity-25:hover {
          opacity: 0.25;
        }
        .focus_opacity-25:focus {
          opacity: 0.25;
        }
      }
    }
  }
}
