@import 'true';
@import './order';

@include describe('The order mixin') {
  $prefix: '';

  @include it('should output order stylesheet correctly') {
    @include assert {
      @include output {
        @include order($prefix);
      }
      @include expect {
        .order-first {
          order: -1;
        }
        .order-last {
          order: 999;
        }
        .order-none {
          order: 0;
        }
        .order-1 {
          order: 1;
        }
      }
    }
  }
}
