@import "../helper";

@mixin order($prefix) {
  $map-values: (
    first: -1,
    last: 999,
    none: 0,
    1: 1,
  ) !default;

  $map-props: (
    default: order,
  );

  @include style($prefix, order, $map-values, $map-props);
}
