@import '../helper';

@mixin outline($prefix, $variants: (), $separator: '_') {
  $map-values: (
    none: 0,
  );
  $map-props: (
    default: outline,
  );

  @include style($prefix, outline, $map-values, $map-props, $variants, $separator);
}
