@import '../helper';

@mixin overflow($prefix, $variants: (), $separator: '_') {
  $map-values: (
    auto: auto,
    hidden: hidden,
    visible: visible,
    scroll: scroll,
  );
  $map-props: (
    default: overflow,
    x: overflow-x,
    y: overflow-y,
  );

  @include style($prefix, overflow, $map-values, $map-props, $variants, $separator);
}
