@import '../helper';

@mixin pointer-events($prefix, $variants: (), $separator: '_') {
  $map-values: (
    none: none,
    auto: auto,
  );
  $map-props: (
    default: pointer-events,
  );

  @include style($prefix, pointer-events, $map-values, $map-props, $variants, $separator);
}
