@import 'true';
@import './pointer-events';

@include describe('The pointer-events mixin') {
  $screens: (
    sm: 640px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $prefix: '';

  @include it('should output pointer-events stylesheet correctly') {
    @include assert {
      @include output {
        @include pointer-events($prefix, $variants, $separator, $screens);
      }
      @include expect {
        .pointer-events-none {
          pointer-events: none;
        }
        @media (min-width: 640px) {
          .sm_pointer-events-none {
            pointer-events: none;
          }
          .sm_hover_pointer-events-none:hover {
            pointer-events: none;
          }
          .sm_focus_pointer-events-none:focus {
            pointer-events: none;
          }
        }
        .hover_pointer-events-none:hover {
          pointer-events: none;
        }
        .focus_pointer-events-none:focus {
          pointer-events: none;
        }
        .pointer-events-auto {
          pointer-events: auto;
        }
        @media (min-width: 640px) {
          .sm_pointer-events-auto {
            pointer-events: auto;
          }
          .sm_hover_pointer-events-auto:hover {
            pointer-events: auto;
          }
          .sm_focus_pointer-events-auto:focus {
            pointer-events: auto;
          }
        }
        .hover_pointer-events-auto:hover {
          pointer-events: auto;
        }
        .focus_pointer-events-auto:focus {
          pointer-events: auto;
        }
      }
    }
  }
}
