@import "../helper";

@mixin position($prefix) {
  $map-values: (
    static: static,
    fixed: fixed,
    absolute: absolute,
    relative: relative,
    sticky: sticky,
  );
  $map-props: (
    default: position,
  );

  @include style($prefix, '', $map-values, $map-props);
}

@mixin position-direction($prefix) {
  $map-values: (
    0: 0,
    auto: auto,
  );

  $map-props: (
    inset: top right bottom left,
    inset-x: right left,
    inset-y: top bottom,
    top: top,
    right: right,
    bottom: bottom,
    left: left,
  );

  @include style($prefix, '', $map-values, $map-props);
}
