@import "../helper";

@mixin position($prefix) {
  $values: static fixed absolute relative sticky;

  @each $value in $values {
    .#{$prefix}#{$value} {
      position: $value;
    }
  }
}

@mixin position-direction($prefix) {
  $map-values: (
    0: 0,
    auto: auto,
  );

  $map-props: (
    inset: top right bottom left,
    inset-x: right left,
    inset-y: top bottom,
    top: top,
    right: right,
    bottom: bottom,
    left: left,
  );

  @each $name, $props in $map-props {
    @each $unit, $value in $map-values {
      .#{$prefix}#{$name}-#{$unit} {
        @each $prop in $props {
          #{$prop}: $value;
        }
      }
    }
  }
}
