@import '../helper';

@mixin resize($prefix, $variants: (), $separator: '_') {
  $map-values: (
    default: both,
    none: none,
    y: vertical,
    x: horizontal,
  );
  $map-props: (
    default: resize,
  );
  @include style($prefix, resize, $map-values, $map-props, $variants, $separator);
}
