@import "../helper";

@mixin margin($prefix, $map-values, $variants: (), $separator: '_') {
  $map-props: (
    default: margin,
    t: margin-top,
    r: margin-right,
    b: margin-bottom,
    l: margin-left,
    x: margin-left margin-right,
    y: margin-top margin-bottom,
  );
  @include style($prefix, m, $map-values, $map-props, $variants, $separator, $separator-key-name: '');
}

@mixin padding($prefix, $map-values, $variants: (), $separator: '_') {
  $map-props: (
    default: padding,
    t: padding-top,
    r: padding-right,
    b: padding-bottom,
    l: padding-left,
    x: padding-left padding-right,
    y: padding-top padding-bottom,
  );
  @include style($prefix, p, $map-values, $map-props, $variants, $separator, $separator-key-name: '');
}
