$theme-spacing: (
  px: 1px,
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  32: 8rem,
  40: 10rem,
  48: 12rem,
  56: 14rem,
  64: 16rem,
) !default;

@mixin spacing($prefix, $maps: $theme-spacing) {
  $map-props: (
    m: margin,
    mt: margin-top,
    mr: margin-right,
    mb: margin-bottom,
    ml: margin-left,
    mx: margin-left margin-right,
    my: margin-top margin-bottom,
    p: padding,
    pt: padding-top,
    pr: padding-right,
    pb: padding-bottom,
    pl: padding-left,
    px: padding-left padding-right,
    py: padding-top padding-bottom,
  );
  @each $name, $props in $map-props {
    @each $unit, $value in $maps {
      // Positive value
      .#{$prefix}#{$name}-#{$unit} {
        @each $prop in $props {
          #{$prop}: $value;
        }
      }
      // Negative value
      .#{$prefix}-#{$name}-#{$unit} {
        @each $prop in $props {
          #{$prop}: -#{$value};
        }
      }
      // Auto value
      .#{$name}-auto {
        @each $prop in $props {
          #{$prop}: auto;
        }
      }
    }
  }
}
