@mixin spacing($prefix, $map-values) {
  $map-props: (
    m: margin,
    mt: margin-top,
    mr: margin-right,
    mb: margin-bottom,
    ml: margin-left,
    mx: margin-left margin-right,
    my: margin-top margin-bottom,
    p: padding,
    pt: padding-top,
    pr: padding-right,
    pb: padding-bottom,
    pl: padding-left,
    px: padding-left padding-right,
    py: padding-top padding-bottom,
  );
  @each $name, $props in $map-props {
    @each $unit, $value in $map-values {
      // Positive value
      .#{$prefix}#{$name}-#{$unit} {
        @each $prop in $props {
          #{$prop}: $value;
        }
      }
      // Negative value
      .#{$prefix}-#{$name}-#{$unit} {
        @each $prop in $props {
          #{$prop}: -#{$value};
        }
      }
      // Auto value
      .#{$name}-auto {
        @each $prop in $props {
          #{$prop}: auto;
        }
      }
    }
  }
}
