@import 'true';
@import './stroke';

@include describe('The stroke mixin') {
  $theme-stroke: (
    current: currentColor,
  );
  $prefix: '';

  @include it('should output stroke stylesheet correctly') {
    @include assert {
      @include output {
        @include stroke($prefix, $theme-stroke);
      }
      @include expect {
        .stroke-current {
          stroke: currentColor;
        }
      }
    }
  }
}
