@import 'true';
@import './stroke';

@include describe('The stroke mixin') {
  $theme-stroke: (
    current: currentColor,
  );
  $screens: (
    sm: 640px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $prefix: '';

  @include it('should output stroke stylesheet correctly') {
    @include assert {
      @include output {
        @include stroke($prefix, $theme-stroke, $variants, $separator, $screens);
      }
      @include expect {
        .stroke-current {
          stroke: currentColor;
        }
        @media (min-width: 640px) {
          .sm_stroke-current {
            stroke: currentColor;
          }
          .sm_hover_stroke-current:hover {
            stroke: currentColor;
          }
          .sm_focus_stroke-current:focus {
            stroke: currentColor;
          }
        }
        .hover_stroke-current:hover {
          stroke: currentColor;
        }
        .focus_stroke-current:focus {
          stroke: currentColor;
        }
      }
    }
  }
}
