@import "../helper";

@mixin table-layout($prefix, $variants: (), $separator: '_') {
  $map-values: (
    auto: auto,
    fixed: fixed,
  );
  $map-props: (
    default: table-layout,
  );
  @include style($prefix, table, $map-values, $map-props, $variants, $separator);
}
