@import "../helper";

@mixin text-align($prefix, $variants: (), $separator: '_') {
  $map-values: (
    left: left,
    center: center,
    right: right,
    justify: justify,
  );
  $map-props: (
    default: text-align,
  );
  @include style($prefix, text, $map-values, $map-props, $variants, $separator);
}

@mixin text-decoration($prefix, $variants: (), $separator: '_') {
  $map-values: (
    underline: underline,
    line-through: line-through,
    no-underline: none,
  );
  $map-props: (
    default: text-decoration,
  );
  @include style($prefix, '', $map-values, $map-props, $variants, $separator);
}

@mixin text-transform($prefix, $variants: (), $separator: '_') {
  $map-values: (
    uppercase: uppercase,
    lowercase: lowercase,
    capitalize: capitalize,
    normal-case: none,
  );
  $map-props: (
    default: text-transform,
  );
  @include style($prefix, '', $map-values, $map-props, $variants, $separator);
}

@mixin color($prefix, $colors, $variants: (), $separator: '_') {
  $map-props: (
    default: color,
  );
  @include style-color($prefix, text, $colors, $map-props, $variants, $separator);
}
