@import "../helper";

@mixin text-align($prefix) {
  $values: left center right justify;

  @each $value in $values {
    .#{$prefix}text-#{$value} {
      text-align: $value;
    }
  }
}

@mixin text-decoration($prefix) {
  .#{$prefix}underline {
    text-decoration: underline;
  }
  .#{$prefix}line-through {
    text-decoration: line-through;
  }
  .#{$prefix}no-underline {
    text-decoration: none;
  }
}

@mixin text-transform($prefix) {
  .#{$prefix}uppercase {
    text-transform: uppercase;
  }
  .#{$prefix}lowercase {
    text-transform: lowercase;
  }
  .#{$prefix}capitalize {
    text-transform: capitalize;
  }
  .#{$prefix}normal-case {
    text-transform: none;
  }
}

@mixin color($prefix, $colors) {
  $map-props: (
    default: color,
  );
  @include style-color($prefix, text, $colors, $map-props);
}
