@import '../helper';

@mixin user-select($prefix, $variants: (), $separator: '_') {
  $map-values: (
    none: none,
    text: text,
    all: all,
    auto: auto,
  );
  $map-props: (
    default: -webkit-user-select -moz-user-select -ms-user-select user-select,
  );
  @include style($prefix, select, $map-values, $map-props, $variants, $separator);
}
