@import 'true';
@import './vertical-align';

@include describe('The vertical-align mixin') {
  $prefix: '';

  @include it('should output vertical-align stylesheet correctly') {
    @include assert {
      @include output {
        @include vertical-align($prefix);
      }

      @include expect {
        .align-baseline {
          vertical-align: baseline;
        }
        .align-top {
          vertical-align: top;
        }
        .align-middle {
          vertical-align: middle;
        }
        .align-bottom {
          vertical-align: bottom;
        }
        .align-text-top {
          vertical-align: text-top;
        }
        .align-text-bottom {
          vertical-align: text-bottom;
        }
      }
    }
  }
}
