@import '../helper';

@mixin visibility($prefix) {
  $map-values: (
    visible: visible,
    invisible: hidden,
  );
  $map-props: (
    default: visibility,
  );
  @include style($prefix, '', $map-values, $map-props);
}
