@import 'true';
@import './visibility';

@include describe('The visibility mixin') {
  $screens: (
    sm: 640px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $prefix: '';

  @include it('should output visibility stylesheet correctly') {
    @include assert {
      @include output {
        @include visibility($prefix, $variants, $separator, $screens);
      }
      @include expect {
        .visible {
          visibility: visible;
        }
        @media (min-width: 640px) {
          .sm_visible {
            visibility: visible;
          }
          .sm_hover_visible:hover {
            visibility: visible;
          }
          .sm_focus_visible:focus {
            visibility: visible;
          }
        }
        .hover_visible:hover {
          visibility: visible;
        }
        .focus_visible:focus {
          visibility: visible;
        }
        .invisible {
          visibility: hidden;
        }
        @media (min-width: 640px) {
          .sm_invisible {
            visibility: hidden;
          }
          .sm_hover_invisible:hover {
            visibility: hidden;
          }
          .sm_focus_invisible:focus {
            visibility: hidden;
          }
        }
        .hover_invisible:hover {
          visibility: hidden;
        }
        .focus_invisible:focus {
          visibility: hidden;
        }
      }
    }
  }
}
