@import '../helper';

@mixin visibility($prefix, $variants: (), $separator: '_') {
  $map-values: (
    visible: visible,
    invisible: hidden,
  );
  $map-props: (
    default: visibility,
  );
  @include style($prefix, '', $map-values, $map-props, $variants, $separator);
}
