@import 'true';
@import './white-space';

@include describe('The white-space mixin') {
  $screens: (
    sm: 640px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $prefix: '';

  @include it('should output white-space stylesheet correctly') {
    @include assert {
      @include output {
        @include white-space($prefix, $variants, $separator, $screens);
      }

      @include expect {
        .whitespace-normal {
          white-space: normal;
        }
        @media (min-width: 640px) {
          .sm_whitespace-normal {
            white-space: normal;
          }
          .sm_hover_whitespace-normal:hover {
            white-space: normal;
          }
          .sm_focus_whitespace-normal:focus {
            white-space: normal;
          }
        }
        .hover_whitespace-normal:hover {
          white-space: normal;
        }
        .focus_whitespace-normal:focus {
          white-space: normal;
        }
        .whitespace-no-wrap {
          white-space: nowrap;
        }
        @media (min-width: 640px) {
          .sm_whitespace-no-wrap {
            white-space: nowrap;
          }
          .sm_hover_whitespace-no-wrap:hover {
            white-space: nowrap;
          }
          .sm_focus_whitespace-no-wrap:focus {
            white-space: nowrap;
          }
        }
        .hover_whitespace-no-wrap:hover {
          white-space: nowrap;
        }
        .focus_whitespace-no-wrap:focus {
          white-space: nowrap;
        }
        .whitespace-pre {
          white-space: pre;
        }
        @media (min-width: 640px) {
          .sm_whitespace-pre {
            white-space: pre;
          }
          .sm_hover_whitespace-pre:hover {
            white-space: pre;
          }
          .sm_focus_whitespace-pre:focus {
            white-space: pre;
          }
        }
        .hover_whitespace-pre:hover {
          white-space: pre;
        }
        .focus_whitespace-pre:focus {
          white-space: pre;
        }
        .whitespace-pre-line {
          white-space: pre-line;
        }
        @media (min-width: 640px) {
          .sm_whitespace-pre-line {
            white-space: pre-line;
          }
          .sm_hover_whitespace-pre-line:hover {
            white-space: pre-line;
          }
          .sm_focus_whitespace-pre-line:focus {
            white-space: pre-line;
          }
        }
        .hover_whitespace-pre-line:hover {
          white-space: pre-line;
        }
        .focus_whitespace-pre-line:focus {
          white-space: pre-line;
        }
        .whitespace-pre-wrap {
          white-space: pre-wrap;
        }
        @media (min-width: 640px) {
          .sm_whitespace-pre-wrap {
            white-space: pre-wrap;
          }
          .sm_hover_whitespace-pre-wrap:hover {
            white-space: pre-wrap;
          }
          .sm_focus_whitespace-pre-wrap:focus {
            white-space: pre-wrap;
          }
        }
        .hover_whitespace-pre-wrap:hover {
          white-space: pre-wrap;
        }
        .focus_whitespace-pre-wrap:focus {
          white-space: pre-wrap;
        }
      }
    }
  }
}
