@import 'true';
@import './width';

@include describe('The width mixin') {
  $theme-width: (
    0: 0,
    screen: 100vh,
    1_2: 8.33333%,
  );
  $prefix: '';

  @include it('should output width stylesheet correctly') {
    @include assert {
      @include output {
        @include width($prefix, $theme-width);
      }

      @include expect {
        .w-0 {
          width: 0;
        }
        .w-screen {
          width: 100vh;
        }
        .w-1_2 {
          width: 8.33333%;
        }
      }
    }
  }
}

@include describe('The min-width mixin') {
  $theme-min-width: (
    full: 100%,
    screen: 100vh,
  );
  $prefix: '';

  @include it('should output min-width stylesheet correctly') {
    @include assert {
      @include output {
        @include min-width($prefix, $theme-min-width);
      }

      @include expect {
        .min-w-full {
          min-width: 100%;
        }
        .min-w-screen {
          min-width: 100vh;
        }
      }
    }
  }
}

@include describe('The max-width mixin') {
  $theme-max-width: (
    full: 100%,
    screen: 100vh,
  );
  $prefix: '';

  @include it('should output max-width stylesheet correctly') {
    @include assert {
      @include output {
        @include max-width($prefix, $theme-max-width);
      }

      @include expect {
        .max-w-full {
          max-width: 100%;
        }
        .max-w-screen {
          max-width: 100vh;
        }
      }
    }
  }
}
