@import "../helper";

@mixin word-break($prefix, $variants: (), $separator: '_', $screens: ()) {
  @include raw-style($prefix, break-normal, $screens, $variants, $separator) {
    word-break: normal;
    overflow-wrap: normal;
  }
  @include raw-style($prefix, break-words, $screens, $variants, $separator) {
    overflow-wrap: break-word;
  }
  @include raw-style($prefix, break-all, $screens, $variants, $separator) {
    word-break: normal;
  }
  @include raw-style($prefix, truncate, $screens, $variants, $separator) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
