$theme-z-index: (
  auto: auto,
  0: 0,
  10: 10,
  20: 20,
  30: 30,
  40: 40,
  50: 50,
) !default;

@mixin z-index($prefix, $maps: $theme-z-index) {
  @each $unit, $value in $maps {
    .#{$prefix}z-#{$unit} {
      z-index: $value;
    }
  }
}
