@import 'true';
@import './z-index';

@include describe('The z-index mixin') {
  $theme-z-index: (
    0: 0,
    99: 99,
    auto: auto,
  );
  $screens: (
    sm: 640px,
  );
  $variants: responsive hover focus;
  $separator: '_';
  $prefix: '';

  @include it('should output z-index stylesheet correctly') {
    @include assert {
      @include output {
        @include z-index($prefix, $theme-z-index, $variants, $separator, $screens);
      }
      @include expect {
        .z-0 {
          z-index: 0;
        }
        @media (min-width: 640px) {
          .sm_z-0 {
            z-index: 0;
          }
          .sm_hover_z-0:hover {
            z-index: 0;
          }
          .sm_focus_z-0:focus {
            z-index: 0;
          }
        }
        .hover_z-0:hover {
          z-index: 0;
        }
        .focus_z-0:focus {
          z-index: 0;
        }
        .z-99 {
          z-index: 99;
        }
        @media (min-width: 640px) {
          .sm_z-99 {
            z-index: 99;
          }
          .sm_hover_z-99:hover {
            z-index: 99;
          }
          .sm_focus_z-99:focus {
            z-index: 99;
          }
        }
        .hover_z-99:hover {
          z-index: 99;
        }
        .focus_z-99:focus {
          z-index: 99;
        }
        .z-auto {
          z-index: auto;
        }
        @media (min-width: 640px) {
          .sm_z-auto {
            z-index: auto;
          }
          .sm_hover_z-auto:hover {
            z-index: auto;
          }
          .sm_focus_z-auto:focus {
            z-index: auto;
          }
        }
        .hover_z-auto:hover {
          z-index: auto;
        }
        .focus_z-auto:focus {
          z-index: auto;
        }
      }
    }
  }
}
