@function sanitize-value($value) {
  @return if(quote($value) == $value, unquote($value), $value);
}

@function format-key($key, $unit) {
  @if type-of($unit) == number and $unit < 0 {
    @return -#{$key};
  }
  @if type-of($unit) == string and str-index($unit, "-") == 1 {
    @return -#{$key};
  }
  @return $key;
}

@function format-unit($unit) {
  @if type-of($unit) == number and $unit < 0 {
    @return $unit * -1;
  }
  @if type-of($unit) == string and str-index($unit, "-") == 1 {
    @return str-slice($unit, 2);
  }
  @return $unit;
}

@function format-selector($key, $unit, $name, $separator-key-name) {
  $formatted-key: format-key($key, $unit);
  $formatted-unit: format-unit($unit);
  @if $name == default and $formatted-unit == default {
    @return "#{$formatted-key}";
  }
  @if $name == default and $formatted-unit != default {
    @return if($formatted-key == '', "#{$formatted-unit}", "#{$formatted-key}-#{$formatted-unit}");
  }
  @if $formatted-unit == default {
    @return if($formatted-key == '', "#{$name}", "#{$formatted-key}-#{$name}");
  }
  @return if($formatted-key == '', "#{$name}-#{$formatted-unit}", "#{$formatted-key}#{$separator-key-name}#{$name}-#{$formatted-unit}");
}

@mixin prop($props, $value) {
  @each $prop in $props {
    #{$prop}: $value;
  }
}

@mixin style-pseudo($prefix, $selector, $pseudo, $separator, $props, $value) {
  .#{$prefix}#{$pseudo}#{$separator}#{$selector}:#{$pseudo} {
    @include prop($props, $value);
  }
}

@mixin style-group-hover($prefix, $selector, $separator, $props, $value) {
  .#{$prefix}group:hover .#{$prefix}group-hover#{$separator}#{$selector} {
    @include prop($props, $value);
  }
}

@mixin style($prefix, $key, $map-values, $map-props, $variants: (), $separator: '_', $separator-key-name: '-') {
  @each $name, $props in $map-props {
    @each $unit, $value in $map-values {
      $formatted-selector: format-selector($key, $unit, $name, $separator-key-name);
      $sanitized-value: sanitize-value($value);
      .#{$prefix}#{$formatted-selector} {
        @include prop($props, $sanitized-value);
      }
      @if index($variants, hover) {
        @include style-pseudo($prefix, $formatted-selector, hover, $separator, $props, $sanitized-value);
      }
      @if index($variants, focus) {
        @include style-pseudo($prefix, $formatted-selector, focus, $separator, $props, $sanitized-value);
      }
      @if index($variants, focus-within) {
        @include style-pseudo($prefix, $formatted-selector, focus-within, $separator, $props, $sanitized-value);
      }
      @if index($variants, active) {
        @include style-pseudo($prefix, $formatted-selector, active, $separator, $props, $sanitized-value);
      }
      @if index($variants, group-hover) {
        @include style-group-hover($prefix, $formatted-selector, $separator, $props, $value);
      }
    }
  }
}

@mixin style-color($prefix, $name, $colors, $map-props, $variants: (), $separator: '_') {
  @each $color, $map-values in $colors {
    @if type-of($map-values) == map {
      @include style($prefix, #{$name}-#{$color}, $map-values, $map-props, $variants, $separator);
    }
    @else {
      @include style($prefix, $name, ($color: $map-values), $map-props, $variants, $separator);
    }
  }
}

@function negative($value) {
  $new-value: $value;
  @if type-of($value) == number {
    $new-value: -1 * $value;
  }
  @if type-of($value) == string {
    $new-value: if(str-index($value, '-'), str-slice($value, 2), -#{$value});
  }
  @return $new-value;
}

@function negative-map($map-values) {
  @if type-of($map-values) == map {
    $values: ();
    @each $key, $value in $map-values {
      $new-key: negative($key);
      $new-value: negative($value);
      $values: map-merge($values, ($new-key: $new-value));
    }
    @return $values;
  }
  @return $map-values;
}

@mixin raw-style-pseudo($prefix, $selector, $pseudo, $separator: '_', $suffix: '') {
  .#{$prefix}#{$pseudo}#{$separator}#{$selector}:#{$pseudo}#{$suffix} {
    @content;
  }
}

@mixin raw-style-group-hover($prefix, $selector, $separator: '_', $suffix: '') {
  .#{$prefix}group:hover .#{$prefix}group-hover#{$separator}#{$selector}#{$suffix} {
    @content;
  }
}

@mixin raw-style($prefix, $key, $variants: (), $separator: '_', $suffix: '') {
  .#{$prefix}#{$key}#{$suffix} {
    @content;
  }
  @if index($variants, hover) {
    @include raw-style-pseudo($prefix, $key, hover, $separator, $suffix) {
      @content;
    }
  }
  @if index($variants, focus) {
    @include raw-style-pseudo($prefix, $key, focus, $separator, $suffix) {
      @content;
    }
  }
  @if index($variants, focus-within) {
    @include raw-style-pseudo($prefix, $key, focus-within, $separator, $suffix) {
      @content;
    }
  }
  @if index($variants, active) {
    @include raw-style-pseudo($prefix, $key, active, $separator, $suffix) {
      @content;
    }
  }
  @if index($variants, group-hover) {
    @include raw-style-group-hover($prefix, $key, $separator, $suffix) {
      @content;
    }
  }
}
